@charset "UTF-8";
body {
    color: #202020;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F8E8EA;
    width: auto;
	height: auto;
	
  }

#container {
    width: 1280px;
    height: auto;
    background-color: #FFFAFA;
    margin: auto;
}

header {
    width: 1280px;
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/throughmyeyes.png);
	margin: 50px 0px 0px 0px;
}
/*Float theAside so it displays nex to Main.*/
main {
    width: 1100px;
    height: auto;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 20px;
    float: right;
}
aside {
    width: 150px;
    height: 1100px;
    background-color: #504444;
    float: left;
}
h1 {
    color: #504444;
    font-family: politica,sans-serif;
font-weight: 700;
font-style: normal;
	font-size: 24pt;
}

p {
    font-family: canada-type-gibson,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
h3 {
    font-size: 12pt;
    padding: 10px;
    color: #F9E8E9;
}

img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: -11px;
}
.floatleft { 
	float: left;
}

/*Float the Main so it shows up next to the Aside. Reduce width by 150 px so they both line up with header.*/

/*Clear the float so the footer shows up in the right place again.*/
footer {
    width: 1280px;
    height: 50px;
    clear: both;
    background-color: #504444;
    color: #504444;
}
article {
    margin-bottom: 50px;
    font-family: "my font";
    width: auto;
}
nav {
    width: 1280px;
    height: 50px;
    position: fixed;
    top: 0px;
    background-color: #FFFAFA;
}
#container nav li {
    display: block;
    list-style-type: none;
    float: left;
    margin: 0px 60px 0px 0px;
    width: 80px;
    font-family: neonoir, sans-serif;
    font-size: 18pt;
}
#container nav ul {
    margin: auto;
    width: 575px;
}

nav a:link {
    color: #504444;
	padding: 10px;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #504444;
}
nav a:hover {
    text-decoration: none;
    color: #504444;
	background-color: #F0D9DD;
	padding: 10px;
	border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #191919;
}
.submit_btn {
    width: 160px;
    height: 30px;
    border-radius: 10px;
    background-color: #504444;
    color: #FFFFFF;
    font-size: 16px;
   
}

.submit_btn:hover {
	width: 170px;
	height: 30px;
	border-radies: 10px;
	background-color: #635556;
	-webkit-box-shadow: 4px 4px 5px #635556;
	box-shadow: 4px 4px 5px #635556;
}
.column {
    width: 250px;
    height: 750px;
    border: 10px;
    float: left;
    margin-left: 60px;
    margin-top: 58px;
    padding-top: 38px;
}

.cclicense {
	width: 500px;
	height: 20px;
	clear: both;
	padding: 50px 0px 0px 50px;
}
.license {
    color: #504544;	
}
video {
    width: 600px;
    margin: auto;
    height: 600px;
}


/*Rules the page will follow for Tablet-sized devices*/
@media (max-width: 1024px){
	#container {
	width: 768px;
	}
	
	header {
	width: 768px;
	background-image: url("../images/throughmyeyes768px.jpg")
	}
	
	nav {
	width: 768px;
	}
	
	main {
	width: 598px;
	height: 2500px;
	}
	
	footer {
		width: 768px;
	}
	.column {
		margin: 0px 1px 0px 20px;
	}
}

/*Rules the page will follow on mobile devices*/
@media only screen and (max-width:375px){
	#container {
	width: 300px;
	}
	
	header {
	width: 300px;
	background-image: url("../images/throughmyeyes300px.png")
	}
	
	nav {
	width: 300px;
	height: 250px;
	position: static;
	}
	
	main {
	width: 300px;
	}
	
	footer {
		width: 300px;
	}
	aside {
		display: none;
	}
	
	#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: #2F2A2A;
	color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}
	
}
.license {
}
